[includeIf "gitdir:~/Code/"]
  path = .gitconfig-default
[includeIf "gitdir:~/.dotfiles/"]
  path = .gitconfig-default
[includeIf "gitdir:~/Code/work/"]
  path = .gitconfig-work
[url "git@github.com:"]
	insteadOf = https://github.com/
